//
// OperationsAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech
//

import Foundation
import Alamofire



open class OperationsAPI {
    /**
     List the schedule motives acceptable for a operation
     
     - parameter category: (query) Category of the motives 
     - parameter completion: completion handler to receive the data and the error objects
     */
    open class func apiV1OperationsListEventMotivesGet(category: MotivesCategory, completion: @escaping ((_ data: ListMotivesResponse?,_ error: Error?) -> Void)) {
        apiV1OperationsListEventMotivesGetWithRequestBuilder(category: category).execute { (response, error) -> Void in
            completion(response?.body, error)
        }
    }

    /**
     List the schedule motives acceptable for a operation
     - GET /api/v1/operations.listEventMotives
     - parameter category: (query) Category of the motives 
     - returns: RequestBuilder<ListMotivesResponse> 
     */
    open class func apiV1OperationsListEventMotivesGetWithRequestBuilder(category: MotivesCategory) -> RequestBuilder<ListMotivesResponse> {
        let path = "/api/v1/operations.listEventMotives"
        let URLString = OpenAPIClientAPI.basePath + path
        let parameters: [String:Any]? = nil
        
        var url = URLComponents(string: URLString)
        url?.queryItems = APIHelper.mapValuesToQueryItems([
            "category": category
        ])

        let requestBuilder: RequestBuilder<ListMotivesResponse>.Type = OpenAPIClientAPI.requestBuilderFactory.getBuilder()

        return requestBuilder.init(method: "GET", URLString: (url?.string ?? URLString), parameters: parameters, isBody: false)
    }

}
