//
// OperationsAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech
//

import Foundation
import Alamofire



open class OperationsAPI {
    /**
     List the schedule motives acceptable for a operation
     
     - parameter category: (query) Category of the motives 
     - parameter completion: completion handler to receive the data and the error objects
     */
    open class func apiV1OperationsListEventMotivesGet(category: MotivesCategory, completion: @escaping ((_ data: ListMotivesResponse?,_ error: Error?) -> Void)) {
        apiV1OperationsListEventMotivesGetWithRequestBuilder(category: category).execute { (response, error) -> Void in
            completion(response?.body, error)
        }
    }

    /**
     List the schedule motives acceptable for a operation
     - GET /api/v1/operations.listEventMotives
     - parameter category: (query) Category of the motives 
     - returns: RequestBuilder<ListMotivesResponse> 
     */
    open class func apiV1OperationsListEventMotivesGetWithRequestBuilder(category: MotivesCategory) -> RequestBuilder<ListMotivesResponse> {
        let path = "/api/v1/operations.listEventMotives"
        let URLString = OpenAPIClientAPI.basePath + path
        let parameters: [String:Any]? = nil
        
        var url = URLComponents(string: URLString)
        url?.queryItems = APIHelper.mapValuesToQueryItems([
            "category": category
        ])
        
        // the problem is in line 39
        // category is of type MotivesCategory which is an enum, so the value that should be used is the rawValue
        // otherwise, the value that will be used it's the name of the case, not the value of the case
        // to fix the problem, the line 39 should be - "category": category.rawValue
        
        // let me show an example to explain the problem
        // let categoryTemp = MotivesCategory.createOperation
        // print(categoryTemp) // output: createOperation
        // print(categoryTemp.rawValue) // output: CREATE_OPERATION which is the right value

        let requestBuilder: RequestBuilder<ListMotivesResponse>.Type = OpenAPIClientAPI.requestBuilderFactory.getBuilder()

        return requestBuilder.init(method: "GET", URLString: (url?.string ?? URLString), parameters: parameters, isBody: false)
    }

}
